In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import tensorflow as tf

In [4]:
from sklearn.preprocessing import MinMaxScaler

### Import Data

In [5]:
rating = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")

/Users/roethelchristine/final/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [7]:
user = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding="latin-1")

/Users/roethelchristine/final/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
user.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [9]:
book = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding="latin-1")

/Users/roethelchristine/final/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/Users/roethelchristine/final/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
book.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [12]:
book_rating = pd.merge(rating, book, on='ISBN')

In [14]:
book_rating.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [15]:
cols = ['Year-Of-Publication', 'Publisher', 'Book-Author', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L']

In [16]:
book_rating.drop(cols, axis=1, inplace=True)

In [17]:
book_rating.head()

   User-ID        ISBN  Book-Rating            Book-Title
0   276725  034545104X            0  Flesh Tones: A Novel
1     2313  034545104X            5  Flesh Tones: A Novel
2     6543  034545104X            0  Flesh Tones: A Novel
3     8680  034545104X            5  Flesh Tones: A Novel
4    10314  034545104X            9  Flesh Tones: A Novel

In [18]:
rating_count = (book_rating.
     groupby(by = ['Book-Title'])['Book-Rating'].
     count().
     reset_index().
     rename(columns = {'Book-Rating': 'RatingCount_book'})
     [['Book-Title', 'RatingCount_book']]
    )

In [19]:
threshold = 25
rating_count = rating_count.query('RatingCount_book >= @threshold')

In [20]:
user_rating = pd.merge(rating_count, book_rating, left_on='Book-Title', right_on='Book-Title', how='left')

In [21]:
user_rating.head()

     Book-Title  RatingCount_book  User-ID        ISBN  Book-Rating
0  'Salem's Lot                47     8936  067103975X            0
1  'Salem's Lot                47   172245  067103975X            0
2  'Salem's Lot                47   189835  067103975X            5
3  'Salem's Lot                47     9226  0451168089            0
4  'Salem's Lot                47    33283  0451168089           10

In [22]:
user_count = (user_rating.
     groupby(by = ['User-ID'])['Book-Rating'].
     count().
     reset_index().
     rename(columns = {'Book-Rating': 'RatingCount_user'})
     [['User-ID', 'RatingCount_user']]
    )

In [23]:
threshold = 20
user_count = user_count.query('RatingCount_user >= @threshold')

In [24]:
combined = user_rating.merge(user_count, left_on = 'User-ID', right_on = 'User-ID', how = 'inner')

In [25]:
combined.head()

,Book-Title,RatingCount_book,User-ID,ISBN,Book-Rating,RatingCount_user
0,'Salem's Lot,47,8936,067103975X,0,177
1,1st to Die: A Novel,509,8936,0446610038,0,177
2,A Case of Need,236,8936,0451210638,0,177
3,A Perfect Stranger,54,8936,0440168724,0,177
4,Accident,126,8936,0440217547,0,177

In [26]:
print('Number of unique books: ', combined['Book-Title'].nunique())
print('Number of unique users: ', combined['User-ID'].nunique())

Number of unique books:  5850
Number of unique users:  3192

0         8936
1         8936
2         8936
3         8936
4         8936
          ...
263462    7312
263463    7312
263464    7312
263465    7312
263466    7312
Name: User-ID, Length: 259660, dtype: int64

## TensorFlow: Normalize the rating feature

In [27]:
scaler = MinMaxScaler()
combined['Book-Rating'] = combined['Book-Rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(combined['Book-Rating'].values.reshape(-1,1)))
combined['Book-Rating'] = rating_scaled

### Then, build user, book matrix with three features:

In [28]:
combined = combined.drop_duplicates(['User-ID', 'Book-Title'])
user_book_matrix = combined.pivot(index='User-ID', columns='Book-Title', values='Book-Rating')
user_book_matrix.fillna(0, inplace=True)
users = user_book_matrix.index.tolist()
books = user_book_matrix.columns.tolist()
user_book_matrix = user_book_matrix.to_numpy()

In [29]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /Users/roethelchristine/final/lib/python3.9/site-packages/tensorflow/python/compat/v2_compat.py:111: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [30]:
num_input = combined['Book-Title'].nunique()
num_hidden_1 = 10
num_hidden_2 = 5

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

In [31]:
def encoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

def decoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

In [32]:
encoder_op = encoder(X)
decoder_op = decoder(encoder_op)
y_pred = decoder_op
y_true = X

In [33]:
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(0.03).minimize(loss)
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

WARNING:tensorflow:From /Users/roethelchristine/final/lib/python3.9/site-packages/tensorflow/python/training/rmsprop.py:192: calling Ones.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [34]:
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()
pred_data = pd.DataFrame()

In [35]:
with tf.Session() as session:
    epochs = 100
    batch_size = 35

    session.run(init)
    session.run(local_init)

    num_batches = int(user_book_matrix.shape[0] / batch_size)
    user_book_matrix = np.array_split(user_book_matrix, num_batches)
    
    for i in range(epochs):

        avg_cost = 0
        for batch in user_book_matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("epoch: {} Loss: {}".format(i + 1, avg_cost))

    user_book_matrix = np.concatenate(user_book_matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: user_book_matrix})

    pred_data = pred_data.append(pd.DataFrame(preds))

    pred_data = pred_data.stack().reset_index(name='Book-Rating')
    pred_data.columns = ['User-ID', 'Book-Title', 'Book-Rating']
    pred_data['User-ID'] = pred_data['User-ID'].map(lambda value: users[value])
    pred_data['Book-Title'] = pred_data['Book-Title'].map(lambda value: books[value])
    
    keys = ['User-ID', 'Book-Title']
    index_1 = pred_data.set_index(keys).index
    index_2 = combined.set_index(keys).index

    top_ten_ranked = pred_data[~index_1.isin(index_2)]
    top_ten_ranked = top_ten_ranked.sort_values(['User-ID', 'Book-Rating'], ascending=[True, False])
    top_ten_ranked = top_ten_ranked.groupby('User-ID').head(10)

2022-01-12 08:35:15.525950: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

epoch: 1 Loss: 0.3323433232176435
epoch: 2 Loss: 0.2887800180322521
epoch: 3 Loss: 0.07199842579775377
epoch: 4 Loss: 0.003562275432868973
epoch: 5 Loss: 0.0030571549227665904
epoch: 6 Loss: 0.0029808046042939626
epoch: 7 Loss: 0.0029436629764469607
epoch: 8 Loss: 0.0029215949439126386
epoch: 9 Loss: 0.0029070074299022883
epoch: 10 Loss: 0.0028966750583744477
epoch: 11 Loss: 0.0028889900991938763
epoch: 12 Loss: 0.0028830606600392487
epoch: 13 Loss: 0.0028783524483135276
epoch: 14 Loss: 0.002874526777304709
epoch: 15 Loss: 0.0028713618067430927
epoch: 16 Loss: 0.0028687081642571714
epoch: 17 Loss: 0.0028664541499852972
epoch: 18 Loss: 0.0028645047587905446
epoch: 19 Loss: 0.0028627663774026947
epoch: 20 Loss: 0.0028610005015302655
epoch: 21 Loss: 0.0027654536764372835
epoch: 22 Loss: 0.0026903430685646587
epoch: 23 Loss: 0.0026892217497883754
epoch: 24 Loss: 0.002688293991313613
epoch: 25 Loss: 0.0026874694343820052
epoch: 26 Loss: 0.0026867273289219035
epoch: 27 Loss: 0.002686054901230139
epoch: 28 Loss: 0.0026854425924574283
epoch: 29 Loss: 0.0026848826936067462
epoch: 30 Loss: 0.0026843687353123513
epoch: 31 Loss: 0.0026838954750468933
epoch: 32 Loss: 0.0026834584289015485
epoch: 33 Loss: 0.002683053702719837
epoch: 34 Loss: 0.002682678103395789
epoch: 35 Loss: 0.0026823287422942754
epoch: 36 Loss: 0.0026820031145669437
epoch: 37 Loss: 0.002681699028791307
epoch: 38 Loss: 0.002681414631277241
epoch: 39 Loss: 0.0026811481271819264
epoch: 40 Loss: 0.0026808980837014023
epoch: 41 Loss: 0.0026806630450045017
epoch: 42 Loss: 0.002680441823910799
epoch: 43 Loss: 0.002680233274177126
epoch: 44 Loss: 0.0026800363953992886
epoch: 45 Loss: 0.0026798502383446627
epoch: 46 Loss: 0.0026796740495118794
epoch: 47 Loss: 0.0026795069577049586
epoch: 48 Loss: 0.002679348447370333
epoch: 49 Loss: 0.0026791977777995252
epoch: 50 Loss: 0.002679054459024753
epoch: 51 Loss: 0.0026789179831681834
epoch: 52 Loss: 0.002678787902478579
epoch: 53 Loss: 0.0026786637372224705
epoch: 54 Loss: 0.0026785451701361236
epoch: 55 Loss: 0.0026784318135948952
epoch: 56 Loss: 0.0026783234066237787
epoch: 57 Loss: 0.0026782196127697008
epoch: 58 Loss: 0.0026781201403547118
epoch: 59 Loss: 0.002678024777016797
epoch: 60 Loss: 0.002677933255384502
epoch: 61 Loss: 0.002677845351582209
epoch: 62 Loss: 0.0026777609312845455
epoch: 63 Loss: 0.002677679718165034
epoch: 64 Loss: 0.00267760160092551
epoch: 65 Loss: 0.00267752637871756
epoch: 66 Loss: 0.002677453913377946
epoch: 67 Loss: 0.0026773840680227173
epoch: 68 Loss: 0.002677316716002239
epoch: 69 Loss: 0.0026772516628645444
epoch: 70 Loss: 0.0026771888574380633
epoch: 71 Loss: 0.0026771282114518378
epoch: 72 Loss: 0.0026770695573189755
epoch: 73 Loss: 0.0026770128400300393
epoch: 74 Loss: 0.0026769579201425006
epoch: 75 Loss: 0.002676904750322657
epoch: 76 Loss: 0.0026768532550924427
epoch: 77 Loss: 0.0026768033397844533
epoch: 78 Loss: 0.002676754936596358
epoch: 79 Loss: 0.002676707976446538
epoch: 80 Loss: 0.002676662394091241
epoch: 81 Loss: 0.002676618135800319
epoch: 82 Loss: 0.0026765751056270774
epoch: 83 Loss: 0.002676533329157302
epoch: 84 Loss: 0.00267649267334491
epoch: 85 Loss: 0.002676453097252646
epoch: 86 Loss: 0.002676414659727815
epoch: 87 Loss: 0.0026763771202640385
epoch: 88 Loss: 0.002676340568411563
epoch: 89 Loss: 0.002676304970908869
epoch: 90 Loss: 0.002676270220295659
epoch: 91 Loss: 0.002676236320409801
epoch: 92 Loss: 0.0026762032200797247
epoch: 93 Loss: 0.0026761708962782234
epoch: 94 Loss: 0.002676139314464488
epoch: 95 Loss: 0.002676108383808981
epoch: 96 Loss: 0.002676078165717587
epoch: 97 Loss: 0.0026760485911086858
epoch: 98 Loss: 0.002676019652306542
epoch: 99 Loss: 0.0026759912930224296
epoch: 100 Loss: 0.0026759634966255874

In [36]:
top_ten_ranked.loc[top_ten_ranked['User-ID'] == 278582]

,User-ID,Book-Title,Book-Rating
18660405,278582,The Lovely Bones: A Novel,0.075934
18659952,278582,The Da Vinci Code,0.062091
18660710,278582,The Secret Life of Bees,0.045589
18657487,278582,Harry Potter and the Chamber of Secrets (Book 2),0.045062
18657491,278582,Harry Potter and the Prisoner of Azkaban (Book 3),0.044220
18656352,278582,Bridget Jones's Diary,0.042237
18658056,278582,Life of Pi,0.041093
18657493,278582,Harry Potter and the Sorcerer's Stone (Harry P...,0.039031
18661051,278582,To Kill a Mockingbird,0.038185
18657489,278582,Harry Potter and the Goblet of Fire (Book 4),0.038152

In [37]:
book_rating.loc[book_rating['User-ID'] == 278582].sort_values(by=['Book-Rating'], ascending=False)

,User-ID,ISBN,Book-Rating,Book-Title
174885,278582,0226848620,10,Chinese Bell Murders (Judge Dee Mysteries)
176582,278582,157566254X,10,"Skin Deep, Blood Red"
40008,278582,0441478123,10,The Left Hand of Darkness (Remembering Tomorrow)
174861,278582,0061044725,10,Search the Shadows
58156,278582,0451202503,10,The Songcatcher: A Ballad Novel
64570,278582,1400034779,10,The No. 1 Ladies' Detective Agency (Today Show...
175958,278582,0345350499,10,The Mists of Avalon
176314,278582,0449223558,9,Murdering Mr. Monti: A Merry Little Tale of Se...
174877,278582,0140277471,9,Blanche Cleans Up
176438,278582,0515136557,8,The Cat Who Brought Down the House
176503,278582,0671877445,8,"Cetaganda (Bujold, Lois Mcmaster. Vorkosigan A..."
176484,278582,055327239X,8,Service of All the Dead
176187,278582,0425191583,8,Imitation in Death (Eve Dallas Mysteries (Pape...
175949,278582,0345348176,8,From Doon With Death
176263,278582,0449003183,8,Brunswick Gardens (Charlotte &amp; Thomas Pitt...
176290,278582,0449206874,8,One Fine Day the Rabbi Bought a Cross
176305,278582,0449217213,8,Incident at Badamya
174882,278582,0141001976,8,Blanche Passes Go
176584,278582,1890208442,8,Daddy's Gone A-Hunting (Wesley Farrell Novels)
176572,278582,0804109818,8,The Jewel That Was Ours
23996,278582,0449221512,8,I Is for Innocent
60802,278582,0671001795,8,Two for the Dough
108791,278582,0345440064,8,Death of a Stranger
176517,278582,0743406583,7,Maggody and the Moonbeams
174895,278582,0312957785,7,The Venus Throw
175303,278582,0312980140,7,Seven Up (A Stephanie Plum Novel)
175596,278582,0312983867,7,Hard Eight : A Stephanie Plum Novel (A Stephan...
176171,278582,0425190927,7,The Wife Test
176139,278582,0425163717,7,Holiday in Death
176562,278582,0743480562,6,"CSI, Miami: Heat Wave"
176567,278582,0765344513,6,Over the Wine-Dark Sea (Hellenistic Seafaring ...
175905,278582,0312991460,6,To the Nines (A Stephanie Plum Novel)
176255,278582,0425193772,5,Indigo Dying
175763,278582,0312990456,5,One for the Money (A Stephanie Plum Novel)
175506,278582,0312983298,3,Full Speed (Janet Evanovich's Full Series)
174867,278582,0061063746,2,Hang Loose
176571,278582,076534503X,0,The Gryphon's Skull (Hellenistic Seafaring Adv...
176389,278582,048627263X,0,Flatland: A Romance of Many Dimensions (Dover ...
176565,278582,0743497988,0,Law and Order Deadline : An Original Law and O...
176486,278582,0553574027,0,Antarctica
176579,278582,1555971792,0,The Body in Four Parts
176385,278582,0451208498,0,Thieves' Paradise
176524,278582,0743448677,0,Without Pity : Ann Rule's Most Dangerous Killers
14574,278582,0312966970,0,Four To Score (A Stephanie Plum Novel)
176331,278582,0451205146,0,Black Hawk Down (Movie Tie-in)
17190,278582,0553581112,0,Justice Hall: A Mary Russell Novel (Mary Russe...
175758,278582,0312985649,0,A Grave Denied (A Kate Shugak Novel)
175103,278582,0312976275,0,Hot Six : A Stephanie Plum Novel (A Stephanie ...
174902,278582,0312971346,0,High Five (A Stephanie Plum Novel)
174891,278582,0312851561,0,The Sword of Samurai Cat (Tor Fantasy)
174890,278582,0312168586,0,Great Harry
174869,278582,0140250360,0,Blanche Among the Talented Tenth
174852,278582,0061032484,0,Children of the Storm
174815,278582,0060549270,0,A Greek God at the Ladies' Club (Avon Romance)
174814,278582,0060534397,0,All Shall Be Well
174809,278582,0060534389,0,A Share in Death
116741,278582,0380817152,0,The Golden One : A Novel of Suspense
46554,278582,0312966091,0,Three To Get Deadly : A Stephanie Plum Novel (...
24674,278582,0425175405,0,Black Notice
175760,278582,0312986327,0,Out on a Limb (A Claire Malloy Mystery)